$primary: #2b3a55;
@import "~bootstrap/scss/bootstrap.scss";

.notification-display-control-buttons {
  padding: 1rem;
  
  .notification-count-display {
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    .notification-title {
      margin-right: 1rem;
    }
  }
  .control-buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70vw;
    height: 30vh;
    button {
      width: 20rem;
      height: 5rem;
    }
  }
}
